body {margin:0}

/* heading css */

div.heading{
    display: grid;
    justify-content: center;
    
}
h1.heading{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    overflow: hidden;  
    font-size: 6.2vw;
    line-height: 1.3;
   
}


.heading-content{
    font-size: 2.2vw;
    line-height: 1.3;
    font-family: 'Oxygen Mono', monospace;   
    margin-left: 15vw;
    margin-top: 1.1vw;
   
}  

/* end heading */

/* navigation */

.navigation{
  height: 15vw;
  width: 90vw;
  margin-left: 5vw;
 margin-top: 2vw;
 border-style: solid;
 background-color: aquamarine;
 border-radius: 1.2vw;

}

.navbox{
  border-style: solid;
  float: left;
   margin-left: 3.6vw;
   height: 8vw;
   width: 9vw;
   margin-top: 1.9vw;
   
}

.nav-name{
text-align: center;
margin-top: 1.4vw;
font-size: 1.3vw;
color: black;
font-weight: 700;
}

.nav-button{
width: 6.5vw;
border-radius: 21px;
justify-content: center;
margin-bottom: 2vw;
height: 2vw;
margin: 1vw;
}

.nav-button:hover{
  background-color: bisque;
}

.nav{
  
  height: 10vw;
  margin-top: 2.2vw;
  width: 60vw;
  justify-content: center;
   margin-left: 2vw;
}


/* end navigation*/

/* nav-bottom-content */
.content {
  font-size: 2.4vw;
   height: 110px;
   overflow: hidden;
   margin-top: 4vw;
   float: left;
   margin-left: 3.6vw;
  
}

.image{
  height: 25vw;
  float: right;
  border-radius: 1.1vw;
  margin-top: 1.1vw;
  
}

.head{
  height: 30vw;
  width: 90vw;
  margin-left: 5vw;
 margin-top: 2vw;
}

/* end nav-bottom-content */